# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.bmp binary
*.tif binary
*.tiff binary
*.jar binary
*.war binary
*.pyc binary
*.class binary

# Source Codes
*.java  text diff=java
*.py    text diff=python
*.sql   text
*.R     text
